<form [formGroup]="reassign_form" (ngSubmit)="onsubmit()">
  <div class="form-group mb-3">
    <input type="text" class="form-control idea_title_field" id="idea_title" aria-describedby="title_help" name="title"
      placeholder="Title of idea *" formControlName="title">
    <small *ngIf="this.reassign_form.get('title')?.touched && !this.reassign_form.get('title')?.dirty" id="title_help"
      class="form-text text-danger">Please Enter Idea Title</small>
  </div>
  <div class="form-group mb-3">
    <textarea style="max-height: 122px;min-height: 122px;" type="text" name="description"
      class="form-control idea_desc_field" id="idea_desc" aria-describedby="desc_help" placeholder="Idea description *"
      formControlName="description"></textarea>
    <small *ngIf="this.reassign_form.get('description')?.touched && !this.reassign_form.get('description')?.dirty"
      id="desc_help" class="form-text text-danger">Please Enter Idea Description</small>
  </div>
  <div class="form-group mb-3">
    <select style="width: 100%;" class="filter-control" id="department_select" name="department"
      formControlName="department">
      <option [value]="null" selected disabled>Beneficiary Department *</option>
      <option value="HR">HR</option>
      <option value="Administration">Administration</option>
      <option value="Operations">Operations</option>
      <option value="Marketing">Marketing</option>
      <option value="Information technology">Information technology</option>
    </select>
    <small *ngIf="this.reassign_form.get('department')?.touched && !this.reassign_form.get('department')?.dirty"
      id="title_dept" class="form-text text-danger">Please Select Department</small>
  </div>
  <div class="form-group mb-3">
    <select style="width: 100%;" class="filter-control" id="categoy_select" name="category" formControlName="category">
      <option [value]="null" selected disabled>Beneficiary Category *</option>
      <option value="Process Efficiency">Process Efficiency</option>
      <option value="Core values">Core values</option>
      <option value="Value proposition">Value proposition</option>
      <option value="Technology">Technology</option>
    </select>
    <small *ngIf="this.reassign_form.get('category')?.touched && !this.reassign_form.get('category')?.dirty"
      id="title_category" class="form-text text-danger">Please Select Category</small>
  </div>
  <div class="form-group mb-3">
    <button [disabled]="!this.reassign_form.valid" style="width:100%;" type="submit" class="submit_btn"
      data-bs-dismiss="modal" aria-label="Close">Re-assign idea</button>
  </div>
</form>
